.alb_detail{
			
			width: 100%;
			height: 100%;
			
		}
		body,html{height: 100%;}
		.content
		{
			width: 100%;
			height: 100%;
			margin: 10px auto;
		}

	

		.mygallery{margin: 25px 0;}	

		@media screen and (max-width: 400px) /* small logo */ 
		{
		  .chroma-gallery-logo
		  {
		  	width: 200px;
		  	height: 83px;
		  	background-size:200px 83px;
		  }
		}

		@media screen and (min-width: 980px) /* Desktop */ 
		{
		  .content {width: auto;}
		}
		
.pictures {
	margin: 0px auto;
	width: 1110px;
	padding: 0;
}

.contents {
	text-align: center;
}

.alb_name {
	height: 300px;
	border: 2px solid #f2f2f2; //
	font-size: 12px;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console",
		Terminal, monospace;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.alb_name h3, .alb_name h2 {
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console",
		Terminal, monospace;
	color: white;
}

.alb_content {
	border: 2px solid #f2f2f2;
	font-size: 12px;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console",
		Terminal, monospace;
	height: 100px;
}

.btn {
	font-size: 12px;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console",
		Terminal, monospace;
}

/* .alb_detail {
	margin-left: 15%;
	width: 300px;
}
 */
.item {
	margin: 5px;
	width: 100px;
	height: 100px;
	backgrouynd-color: White;
	border-radius: 10px;
	float: left;
}

#my_album_update {
	display: inline-block;
}

#hiddeninfor {
	display: none;
}		
			
.fluid-centered {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 20%);
    min-width: 800px;
}
.dimming-shim {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 300;
}
#album-toolbar-content {
    font-weight: 600;
    padding: 20px 0;
    position: relative;
}
.back-to-albums-icon {
    background: rgba(0, 0, 0, 0) url("https://s.yimg.com/uy/build/images/../images/icons-1x-s2fb29ad15b.png") no-repeat scroll -52px 0;
    bottom: -2px;
    display: inline-block;
    height: 14px;
    position: relative;
    width: 8px;
}
.back-to-albums-text {
    margin-left: 5px;
}
.back-to-albums {
    color: #212124;
    text-decoration: none;
}