@CHARSET "EUC-KR";

body {
	width: auto;
	height: auto;
	font-family: "맑은 고딕", "Malgun Gothic", sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: "Helvetica Neue", Helvetica, Arial, "NanumBarunGothic",
		sans-serif;
}

.contents {
	width: 1345px;
	margin: 0 auto;
}

#side_menu {
	width: 150px;
	text-align: center;
	float: left;
	margin-left: 150px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#dvSearchDate {
	width: 400px;
	float: left;
	margin-top: 80px;
	margin-left: 200px;
}

#dvChartType {
	float: left;
	margin-top: 65px;
}

#dvChart {
	margin-left: 80px;
}

#anal_table_area {
	padding-bottom: 80px;
}

#anal_table_area table {
	width: 950px;
	margin: 0 auto;
	background-color: white;
}

#anal_table_area table th, td {
	text-align: center;
}

#anal_table_area table th {
	font-size: 13px;
}

#anal_table_area table td {
	font-size: 14px;
}

#anal_table_area table img {
	width: 100px;
	height: 100px;
}

#anal_table_area table thead tr {
	height: 40px;
}

#anal_table_area table img {
	width: 100px;
}
